.chatContainer {
   background-color: var(--background-color3);
   width: 80vw;
   height: 90vh;
   border-radius: 5vh;
   padding: 20px;
}

.chatInnerContainer {
   position: relative;
   height: 100%;
   width: 100%;
}