.messageContainer {
   margin: 5px 0 5px;
}

.messageBox {
   display: flex;
}

.left .messageBox {
   justify-content: left;
}
.right .messageBox {
   justify-content: right;
}

.messageText {
   display: inline-block;
   background-color: blue;
   color: rgb(223, 223, 223);
   padding: 10px 10px;
   border-radius: 12px;
   max-width: 45vw;
}

.sentText {
   color: rgb(182, 182, 182);
   font-size: 15px;
   line-height: 1.3rem;
}

.left .sentText {
   text-align: left;
}
.right .sentText {
   text-align: right;
}